body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: olivedrab;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: olivedrab;
    color: black;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    padding: 15px;
}

nav ul {
list-style: circle;
padding: 0;
display: flex;
justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: black;
    display: inline-block;
    font-weight: bold;
    border-radius: 200%;
    text-decoration: double;
    font-weight: bolder;
    padding: 20px 40px;
    background-color: white;
    border-radius: 20 px;
    transition:all 0.3s;
}

nav a :hover {
    transform: scale(1.2);
}

article {
    background-color: white;
    padding: 30px;
    margin: 35px auto;
    width: 65%;
    border-left: 8px solid;
    line-height: 2.0;    
}

h2 {
    color: auto;
    text-align: center;
    text-decoration: double;
}

img {
    max-width: 60%;
    display: block;
    margin: 20px auto;
    border: 3px solid;
    border-radius: 20px;
}

aside {
    padding: 15px;
    background-color: olivedrab;
    margin: 10px auto;
    width: 60%;
    border: 2px dashed;
}

table {
    width: auto;
    border-collapse: separate;
    margin-top: 30px;
}

th td {
    padding: 10px;
    border: 2px solid;
    text-align: center;
}

th {
    background-color: olivedrab;
    color: black;
}

footer {
    background-color: white;
    /* color: aqua; */
    text-align: left;
    padding: 20px;
    margin-top: 30px;
    border-top: 5px solid;
    font-size: medium;
}