body{
font-family: "Jaini Purva", system-ui;
   margin: 0;
   padding: 0;
   background-color: #00AAFF;
   text-align: center;
   scroll-behavior: smooth;
}

nav {
    background-color: #D1D0D0;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: bold;
}

header {
    background-color: #D1D0D0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;

    /* background-color: red; */
    background-image: url(MaxPayne2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 110px;
}

header img {
    /* width: 350px; */
    /* height: auto; */
    /* max-width: 450px; */
    margin: 10px;
}

.header_img-1 {

}
.header_img-2 {

}

h1 {
    font-size: 32px;
    margin-top: 20px;
    position: relative;
}

h1::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: black;
    margin: 10px auto 0;
}

.gaming {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
    justify-items: center;
}

.gaming img {
    display: flex;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
    header img { 
        width: 100%;
       max-width: 300px; 
   }

}



.gaming img {
    width: 120px;
    height: 100px;
}